@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: #509493; */
}

@layer utilities{
  .body{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    max-height: max-content;
    width: 75%;
    position: relative;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }
  .card-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }

  .added-to-cart{
    display: flex;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1rem rgba(0,0,0,0.2);
    padding: 2rem 2rem 5rem 2rem ;
    left: calc(50% - 0.25rem);
    bottom: calc(4rem - 0.35rem);
    animation-name: fadeInDown;
    animation-duration: 1s;
  }

  .button-add:active{
    animation-name: button-add-cart;
    animation-duration: 1.5s;
  }

  .button-checkout:active{
    animation-name: button-add-cart;
    animation-duration: 2s;
  }

  @keyframes button-add-cart {
    0% {transform: scale(0.8);}
    100% {transform: scale(1);}
  }

  @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 .card-content-2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }

  .title-checkout{
    display: flex;
    animation-name: fadeInDown;
    animation-duration: 1.5s;
  }

  .content-checkout{
    display: flex;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
  }  
  
  .content-checkout-1::-webkit-scrollbar{
    display: none;
  }

  .content-checkout-1{
    overflow-y: scroll;
    scrollbar-width: none;
    height: calc(80vh - 6.1rem);
  }

  @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(60px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
  }

  @keyframes disappearInUp {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(-10px);
   }
}

 .rigth-side{
    height: calc(80vh - 6.1rem);
    border: 0px;
  }

  .select-span{
    position: absolute;
    display: block;
    color: #b2b2b2;
    top: 0.8rem;
    left: 0.5rem;
    font-size: 0.8rem;
  }

  .select-span-hover{
    position: absolute;
    display: block;
    color: #b2b2b2;
    top: 0.1rem;
    left: 0.5rem;
    font-size: 0.55rem;
    margin-bottom: 0.5rem;
  }

  .drawer-anim-appear{
    display: flex;
    flex-direction: column;
    animation-name: fadeInDown;
    animation-duration: 600ms;
  }

  .drawer-anim-disappear{
    animation-name: disappearInUp;
    z-index: 10;
    animation-duration: 300ms;
    animation-fill-mode: both;
    /* display: none; */
  }

  .drawer-anim-disappear::after{
    z-index: 0;
    /* display: none; */
  }

  input[type="radio"]{
    -webkit-appearance: none;
    outline: none;
    margin-top: 0.3rem;
    border: 2px solid gray;
    border-radius: 50%;
    width: 1.1rem;
    height: 1.1rem;
  }

  input[type="radio"]:checked{
    border-width: 0.35rem;
    border-color: #216898;
  }

  .loader{
    animation-name: loader;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-bottom-color: transparent;
    box-sizing: border-box;
  }

  @keyframes loader {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

}
